
body{
    background: #282c34;
    color: #61dafb;
}

.container{
    text-align: center;
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
ul{
    list-style: none;
    text-align: left;
}
li{
    margin-top: 15px;
    font-size: 25px;
}

li span {
    text-align: right;
    width: 60px;
    margin-left: auto;
}
button{
    border: none;
    outline: none;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background:  #61dafb;
    color: #282c34;
}
.burgerPrice{
    border: 1px solid gray;
    width: 50%;
}
.Burger{
    width: 50%;
    border: 1px solid gray;
}

.Burger h1 {
    margin: 5px;
}
.btn-delete {
    background: url("../../../../exams/exam-7/components-demo/src/accepts/images/trash-alt-solid.svg") 50% 50% no-repeat;
    width: 18px;
    height: 27px;
    margin-left: 30px;
}
